name: go mod
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: "read"

env:
  GO_VERSION: "1.21"

jobs:
  release:
    name: "go mod"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          fetch-depth: 0

      - uses: "actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32" # v5.0.2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: tidy
        run: |
          go mod tidy && git diff --exit-code
