name: go mod
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: "read"

env:
  GO_VERSION: "1.21"

jobs:
  release:
    name: "go mod"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - uses: "actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c" # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: tidy
        run: |
          go mod tidy && git diff --exit-code
