name: check license
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  license-check:
    runs-on: ubuntu-latest
    name: license check
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: Syu-fu/go-licenses@93fe95e36935b5ba32b74b832a911e9bce7d6df5 # v0.2.0
