name: lint
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: "read"

env:
  GO_VERSION: "1.21"

jobs:
  release:
    name: "lint"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - uses: "actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5" # v5.5.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: v1.59
