name: release
on:
  push:
    tags:
      - "v*"

permissions:
  contents: "write"

env:
  GO_VERSION: "1.21"

jobs:
  release:
    name: "release"
    runs-on: "ubuntu-latest"
    env:
      WORKINGDIR: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - uses: "actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c" # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: "goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a" # v6.4.0
        with:
          version: "latest"
          args: "release --clean"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
